
/* 
/* Resetting CSS Prperties */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

 body {
	background-color: black;
	overflow-x:  hidden;
	} 
 

/* Name of Resturant */
.brand {
    font-family: 'Pinyon Script', cursive;
	font-size: 50px;
	color: #C0A757;
	/* border: 1px yellow solid; */
	padding: 18px 85px;
	
	
}

/*#bgeffect {
	background-color: #0E1216;
	border: 2px red solid;
	height:100px ;
}*/


/* Entire Header => Navbar + Brand Name */

.header {
	/* background-color: #0E1216; */
	display: flex;
	flex-direction: row;
	align-items: stretch;
	/* border: 2px white solid; */
	height: 85px;
	background: #0E1216;
	opacity: 0.89;
	z-index: 3;
	position: fixed;
	width: 100vw;


}

.active {
	background: white ;
	opacity: 1;
	animation-name: navbar_white;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

header .test {
	background: white;
	opacity: 1;
}


/* Menu Bar Items - Home , About -- etc. */

.nav_items {
    display: flex ;
	flex-direction: row;
	list-style: none;
} 
/*Links of Nav bar */
.nav_change {
	color: white;
	text-decoration: none;
    font-size: 14px; 
	padding: 5px 20px;
	font-family: 'Baloo 2', cursive;
	font-weight: bold;
	letter-spacing: 1px;
}

/*Animation For Navbar*/
@keyframes navbar_white {

	from {
		top: -100px;
	}
	to {
		top: 0px;
	}
}

.active_2 {

	color: grey;
}

.nav_items li a:hover {
	color:#C0A757 ;
}

.dynamic {

	color:#C0A757 ;

}

/* Navbar */
.navbar {
	/* border: 2px limegreen solid; */
	margin-left: auto;
	padding-right: 105px;
	padding-top: 30px;
}

/* .hamburger 
{
	display: none;
} */

/* HEADER, NAVBAR AND LOGO FINISH */

/* SLIDESHOW BEGIN */

 /* Images Styling */
.img {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top:0px;
	z-index: -1;
	 opacity: 0.4;
}

.caption {
	/* border: 2px solid red; */
    position: absolute;
    top: 59vh;
    color: white;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300; 
    text-align: center;
    letter-spacing: 5px;
    width:100vw;
    text-shadow: -1px -1px  1px blueviolet ;
   
}

/*....NOTE => TRY DIFFERENT SIDE IMAGES*/

/* ICONS STYLING => ARROWS */


#arrow-right {
	font-size: 90px;
    color: grey;
    opacity: 0.6;
    position: absolute;
	top: 250px;
    /* left: 1310px; */
    right: 20px;

}
#arrow-left {
	font-size: 90px;
    color: grey;
    opacity: 0.6;
    position: absolute;
    top: 250px;
    left: 20px;
}

#arrow-left:hover {
	opacity: 1;
	cursor: pointer;
	color: darkgrey;
	transition: all 1s ease-in-out;
	transform: translateX(-13px);
}

#arrow-right:hover {
	opacity: 1;
	cursor: pointer;
	color: darkgrey;
	transition: all 1s ease-in-out;
	transform: translateX(13px);
}
/* Overlay Text */
/* .design {
	width: 17%;
    position: absolute;
    top: 118px;
    left: 540px;
    transform: rotate(-20deg);
} */


#overlay {
	/* border: 2px yellow solid; */
    position: absolute;
	top: 118px;
	width:100%; 

	}

     .design { 
	 width: 20%;
	margin-left:37%; 
	transform: rotate(-20deg);
	/* border: 2px red solid; */
	
	 }
/* 
.line {

    position: absolute;
    left: 450px;
    top: 365px;
    /* border: 2px red dashed; 
    height: 40%;
    width:34%;

} 
/* .seperator span {
	position: absolute;
    left: 500px;
    top: 550px;
	font-family: 'Libre Baskerville', serif;
	color: white;
	font-size: 20px ;
	font-style: italic;

} */

.seperator {

	position: absolute;
/* left: 450px; */
    top: 310px;
/* border: 2px red dashed; */
/* height: 40%; */
/* display: flex; */
/* flex-direction: column; */
/* width: 100; */
width: 100%;
}

.line {

width: 40%;
/* border: 2px green dashed; */
margin-left: 30%;
}

.seperator p {

font-family: 'Libre Baskerville', serif;
color: white;
font-size: 20px;
font-style: italic;
text-align: center;
/* border: 2px green dashed; */
margin-top: -70px;
}

/* ABOUT US PAGE BEGIN */

/* Section Title */
.about_us_title {
	width: 20%;
	position: absolute;
	top: -1px;
	left: 520px;
	z-index: -1;


}
.about {
	background-color: white;
	height: 1161px;
	position: absolute;
	top: 100vh;
	width:100vw;
	z-index: -2;
	
}

/* INTRO OF RESTURANT */
.section-title p {

	color: #777777;
	font-size: 17px;
	font-weight: 400;
	/* font-style: italic; */
	width: 550px;
	text-align: center;
	/* border: 2px solid red; */
    font-family: 'Cabin', sans-serif;
	margin: 120px auto;

}

/* Content in About Us Page */

.history {
	/* TITLE */
	font-family: "Great Vibes", serif;
    font-size: 62px;
    color: #c0a756;
    position: absolute;
    top: 200px;
    left: 230px;
    font-weight: 100;
}

.text {
	/* FIRST PARAGRAPH */
	font-family: "Cabin", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    width: 500px;
    line-height: 34px;
    position: absolute;
    top: 300px;
    left: 190px;
}

.text_second {
	/* SECOND PART OF PARAGRAPH */
	font-family: "Cabin", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    width: 500px;
    line-height: 34px;
	position: absolute;
    top: 770px;
    right: 50px;
}

.text_second_other_half {
	/* SECOND PARAGRAPH */
	font-family: "Cabin", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    width: 500px;
    line-height: 34px;
	position: absolute;
    top: 990px;
    right: 50px;

}
.p2 {
	/* SECOND PART OF ABOVE PARAGRAPH */
	font-family: "Cabin", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    width: 500px;
    line-height: 34px;
    position: absolute;
    top: 530px;
    left: 190px;
}
.section-content p span {
	color: #c0a756 ;
	font-weight: bold;
}

/*NOTE => FIX ABOVE REPEATING CODE */

/* SLIDE SHOW HISTORY */
.about_img_history {
 position: absolute;
    top: 200px;
    right: 20px;
    opacity: 0;
}

.about_img_history_2 {
	position: absolute;
    top: 750px;
    left: 190px;
    opacity: 1;
    width: 520px;
}

/* Arrow Icons on history slide show */

.icons-about {
	position: absolute;
	top: 915px;
	font-size: 60px;
	left: 210px;
	cursor: pointer;
	opacity: 0.8;
}

.icons-about:hover {
	opacity: 1;
}


.left_arrow {

font-size:40px; 
position:absolute; 
left:14px;
top:0px;
font-weight:bold;
/*border: 2px red solid;*/
}

.left_arrow:hover {
position: absolute;
left: 12px;
transition: all 1s ease-in-out;
}

.right_circle {
	position: absolute;
    top: 2px;
    left: 418px;
    font-size: 60px;
}

.right_arrow {

	position: absolute;
    top: 0px;
    left: 436px;
    font-size: 40px;
    font-weight:bold;

}

.right_arrow:hover {
	position: absolute;
    left: 439px;
    transition: all 1s ease-in-out;

}
/* ABOUT US SECTION ENDS */

/* TIMETABLE SECTION BEGIN */

/* BACKGROUND IMAGE */
.container {
	width: 100vw;
	height:470px ;
	position: absolute;
    top: 1770px;
	/* border: 2px red solid; */
	background-image: url('Images\\timetable1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.5;
}

/* TIMETABLE TITLE */
.timetable_title {
	
	/* font-weight: bold;
	font-size: 30px; */
	/*margin-top: 20px; */
	color: rgb(255, 255, 255);
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 1820px;
    left: 40%;
    letter-spacing: 2px;
    
}
/* SUBTEXT */
.timetable_text {
	color: #B29859;
    font-family: "Yellowtail", serif;
    font-size: 24px;
     position: absolute;
    top: 1870px;
    left: 43%;
}

/*DAYS TEXT BEGIN */
.days {
	
	color: #B29859;
    font-family: "Yellowtail", serif;
    font-size: 37px;
   

}
.days_1 {

    position: absolute;
    top: 1920px;
    left: 34%;
   /* border: 1px black solid; */
    width: 200px;


}

.days_2 {
   
    position: absolute;
    top: 1920px;
    left: 54%;
   /* border: 1px black solid; */
    width: 200px;
}

/* DAYS TEXT ENDS */

/* TIMING TEXT BEGINS */

.time {

	font-family: "Oswald", sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.time_1 {
	position: absolute;
	top: 2010px;
    left: 35%;
    /* border: 1px black solid; */
}

.time_2 {

	position: absolute;
	top: 2010px;
    left: 55%;
   /* border: 1px black solid; */

}

/*TIMING TEXT ENDS */

/*LINE SEPERABLE */
.line_timetable {
	position: absolute;
	top:1860px;
	left: 30%;
	/* border: 1px black solid; */
	width: 520px;
	height: 310px;
	font-weight: bold;
}

.call_us {
	position: absolute;
	top:2180px;
	left: 44%;
	font-family: "Oswald", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}

/*TIMETABLE SECTION ENDS */

/* MENU SECTION BEGINS*/

.menu {
	background-image: url('Images\\menu_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* border: 2px yellow solid; */
	position: absolute;
	top: 2241px;
	width: 100vw;
	height: 120%;

}

.menu_art {
	position: absolute;
	top: 60px;
	left: 40%;
	font-size: 30px;
}

.menu_items {

display: flex; 
color: white;
height: 100%;
justify-content: space-around;
align-items:center;


}

.details {
	/* border: 1px solid red; */
	margin-left: 10px;
	margin-top: 15px ;
	font-weight: bold;
    color: darkgrey;
    font-size: 23px;
    text-shadow: 1px 1px 1px white ;
}

.menu_items .prime_steaks ul li ,.menu_items .drinks  ul li ,  .menu_items .deserts ul li {

	/* border: 2px white solid; */
	margin-top: 10px;
	font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #0c0901;
    list-style: none;
    text-shadow: 1.5px 1.5px yellow ;
}

.category {

	color: #887025;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 2px white ;

}

.price {
	display: flex;
	justify-content: flex-end;
	/* border: 2px yellow solid; */
	margin-top: -25px;
	margin-right: -60px;
	font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 19px;
    color: #bfa760;
    float: right;
    text-shadow: 1.2px 1.2px black;
}
/* MENU SECTION ENDSS*/

/* GALLERY BEGINS */
.gallery {
	background: #141313 ;
	height: 1300px;
	position: absolute;
	top:2972px;
	width: 100vw;
	color: white;
	padding-left: 430px;
	padding-top: 150px;
}
/* Gallery Title*/
.gallery_title {
	position: absolute;
	top:26px;
	left: 40%;
	font-family: "Cabin";
    font-weight: 600;
    font-size: 28px;
}
/* Gallery Navbar */
.gallery_items {
	width: 440px;
	display: flex;
	font-family: sans-serif ;
	list-style: none;
	justify-content: center;
	/*border: 2px yellow solid;*/
}


/* Gallery Navitems  */
.gallery_items li {
	margin: 30px;
	border:  2px  #141313 solid ;
	margin-right: 24px;
	font-size: 16px;
    font-family: "Cabin", sans-serif;

}

.gallery_items li:hover {
	border-bottom:  2px #C1A667 solid;
	cursor: pointer;
	transition: all 1s ;
}


/* Gallery Subtext  */
.gallery_subtext {

	font-family: "Cabin";
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    color: #777777;
    /* border: 2px yellow solid; */
    width: 515px;
    margin-top: -46px;

}
/*Gallery Images Styling */
#gallery_images {

	display: grid;
	grid-template-columns: repeat(3,auto) ;
	/* border: 2px yellow dashed; */
	justify-content: start;
	position: absolute;
	left: 0px;
}
/*METADATA OF IMAGES */
.photos {
	width: 456px;
    height: 320px;
}


.photos:hover {
	opacity: 0.4;
	transition: all 0.7s ease-in-out ;
}
/* GALLERY SECTION ENDS */

/* RESERVATION SECTION BEGIN */

/* RESERVATION SECTION BASIC STYLING */
.reservation {

	position: absolute;
	top:4272px ;
	background: white;
	width: 100vw;
	height: 1400px;
	
}
/* RESERVATION SECTION TITLE */
.reservation_heading {

	text-align: center;

}

/* RESERVATION SECTION SUBHEADING */
.reservation_sub_heading {
    font-family: "Cabin";
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    color: #777777;
    position: absolute;
    top: 120px;
    left: 490px;
    width: 450px;

}

/* RESERVATION SECTION CHEF CAP LOGO */
.reservation_logo {

	position: absolute;
	top: 200px;
	left: 44%;
}

/* RESERVATION SECTION OTHER CONTENT */
.reservation_heading_2 {
	position: absolute;
	top: 300px;
	left: 350px;

}

/* RESERVATION SECTION FORM FOR RESERVATION AND USERS DETAILS  */
.reservation_forms form {

	display: grid;
	grid-template-columns: repeat(2,auto) ;
	grid-column-gap: 100px;
	justify-content: center;
	grid-gap: 20px;

}


.reservation_forms form input {
	font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding: 7px;
    width: 400px;

}

.message textarea {
	position: absolute;
    left: 20%;
    resize: none;
    width: 820px;
    height: 300px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding: 7px;
    margin-top: 36px;


}


.button  input {
	width: 300px;
    height: 60px;
    background: none;
    position: absolute;
    left: 525px;
    top: 1200px;
    font-size: 20px;
    color: #bfa760;
    box-shadow: none;
    border: 2px solid #bfa760 ;
    text-align: center;
}

.button  input:hover {
	background: #bfa760 ;
	color: white;
	border: 2px white solid;
	cursor: pointer ;
	transition: all 1s ;
}
/* RESERVATION SECTION ENDS  */

/* TESTIMONIALS STYLING BEGIN */
.container_testimonials {

	background-image: url('Images\\testimonials.jpg'); 
	/* background-color: red; */
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	top: 5672px;
	height: 300px;
	width: 100vw;
	line-height: 200px;
	opacity: 0.4;

}
/*TESTIMONIALS HEADING */
.testimonials_heading h2 {
	font-family: 'Oswald' ;
	display: inline-block;
	width: 150px;
	height: 125px;
	padding-left: 200px;
    font-size: 2em;
    color: rgba(191, 167, 96,1);
    position: absolute;
    top: 5710px;
    font-weight: 400;

}

.testimonials_heading h2::after {
	content: " " ;
	background: white;
	width:42px;
	height: 2px;
	position: absolute;
    top: 47px;
    left: 200px;
    color: white;
}

.testimonials_content  {
	font-family: 'Cabin' ;
	display: inline-block;
	width: 1100px;
	height: 100px;
	/* border: 1px solid yellow; */
    text-align: left;
    font-weight: 400;
    color: #e2e9ed;
    font-size: 24px;
    position: absolute;
    top: 5800px;
    left: 200px;
}


.testimonials_content p {
margin-bottom: 30px;
}

.testimonials_content span {

    color: rgba(191, 167, 96,1) ;
    font-weight: bold;
}


 /* 
 .testimonials_content:hover {
	transform: translate3d(0px,0px,0px) ;
	transition: all 5s;
	cursor: pointer;
}

*/
.author { 
	position: absolute;
	 top:68px; 
	 left:20px;
}
.dots {


	position: absolute;
	top:80px;
	left:30px;
	cursor: pointer;
	display:flex;
	padding-left: 390px;
	padding-top: 30px;	
	
	}



.dot_0 {
 
   
	border-radius: 50%;
	width:15px;
	height:15px;
	border:2px  rgba(191, 167, 96,1) solid;
	margin-left: 12px;

}

.dot_0:hover {
	background: rgba(191, 167, 96,1);
	transition: all 0.5s;
}

#dot_1{
	background: rgba(191, 167, 96,1);
}

.quotes {
	/*border: 2px yellow solid;*/
	position: absolute;
	top: -40px;
	left: 950px;
}


/* TESTIMONIALS STYLING ENDS */

/*CONTACT STYLING BEGINS */

.contact {
	position: absolute;
	top: 5972px;
	width: 100vw;
	background: #141313 ;
	height: 1300px;
}

.contact_form {
	margin-top: 160px;
}

.contact form input {
	display: grid;
	grid-template-rows:repeat(1,auto);
	width: 500px;
	margin: 100px;
	font-size: 25px;
	margin-left:150px;
	background: #2C2A2A;
    border: none;
    height: 80px;
    padding-left: 10px ;

}


.contact h2 {
	color: white;
	text-align: center;
	font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 46%;
    

}


.contact_subheading p {
	position: absolute;
	top: 70px;
	left: 35%;
	font-family: "Cabin";
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    color: #777777;

}


.contact_message textarea {

	width: 550px;
	height: 460px;
	float: right;
	margin-right: 100px;
	margin-top: -540px;
	background: #2C2A2A;
    border: none;
    font-family: cabin ;
    font-size: 25px ;
    padding-left: 10px;

}


.button_contact input {

	width: 200px;
    height: 60px;
    background:  #bfa760  ;
    font-size: 20px;
    color: white;
    box-shadow: none;
    border: 2px solid #bfa760 ;
    margin-left:600px;
   
}

.button_contact input:hover {
	cursor: pointer;
	background-color:#2C2A2A ;
	color:#bfa760;
	transition: all 1s ease-in-out;
}

/* MAP SECTION STYLING BEGIN */
#map iframe { 
width:600px; 
height:500;
border:0;
position: absolute; 
top:6800px;


}

/* MAP SECTION STYLING ENDS */
/* Footer Begins */
.social_menu { 

text-align: center;
margin-top: 80px; 
font-size: 50px;

}
.footer {
	width: 100vw;
	height: 200px;
	background-color:#2C2A2A;
	position: absolute;
	top: 7300px; 
}

.social_menu i {
	width:80px;
	height: 80px;
	border-radius: 50%;
	padding-top: 13px ;
	background-color: #3D3C38;
	color: white;
	cursor: pointer;
}

.social_menu i:hover {

	background-color:#bfa760;
	transition: all 1s ;
}

.social-menu {
	background-color: black ;
}

/* Footer Ends*/


/* Making animation in website */

.opacity {
	animation-name: magic;
	animation-iteration-count: 1;
	animation-duration: 2s;
}

.opacity_slow {

	animation-name: magic;
	animation-iteration-count: 1;
	animation-duration: 3s;

}

@keyframes magic {

from {
	opacity: 0;

}

to {
	opacity: 1 ;
}


}

/*[ RESPONSIVE STYLING ]*/

@media only screen and (max-width: 1200px) and (min-width: 768px){

/* Setting Up Side Black Content Of Body => Resizing objects that are overflowing */

/* Width of Photos */
.photos {
	width: 340px;

}
/* Testimonials Stuff  */
.testimonials_content p {
    margin-left: -80px;
    /* border: 2px red dashed; */
    width: 900px;
    

}

.testimonials_content  {
	/* border: 2px yellow solid; */
	width: 150px;
}

/* * {
	border: 2px yellow solid;
} */


.quotes {
	/*border: 2px yellow solid;*/
	position: absolute;
	top: -50px;
	left: 720px;
}

.dots {

	    left: -91px;
	
	}

.message textarea {
	width: 700px;
}

/*Overflowing Sorted */
/* .design {  
    
    width: 17%;
    position: absolute;
    top: 120px;
    left: 430px;
} */

#overlay {
	border: 2px yellow solid;
    position: absolute;
	top: 118px;
	width:100%; 

	}

     .design { 
	 width: 20%;
	margin-left:43%; 
	transform: rotate(-20deg);
	/* border: 2px red solid; */
	
	 }

#arrow-right, #arrow-left {

	display: none;
}

/*MAIN STYLING BEGIN  FOR SMALL COMPUTER */

.caption {
	font-size: 60px;
}

.line{
	left: 370px;
	bottom: 30px;
}

.seperator span {
    /* position: absolute; */
    left: 400px;
}

/*About Us Section */

.about_us_title {
    left: 450px;
    top: 44px;

}

.about {
	height:1109px ;
	top: 760px;
	left: 0px;

}

.about_img_history {
	top: 200px;
	right: 0px;
	width: 500px;
}

.text {
	left: 70px;
	top: 300px;
}

.p2 {
	left: 70px;
	top: 530px;
}

.text_second {
	top: 770px;
	right: 20px;

}

.text_second_other_half {
	top: 990px;
	right: 20px;
	
}

.about_img_history_2 {
	top: 770px;
	left: 32px;
	width: 450px;
}


.icons-about {
	left: 40px;
}

.left_arrow {
 
left:10px;
top:2px;

}


.right_circle {
	top: 2px;
    left: 390px;
}

.right_arrow {

	top: 0px;
    left: 405px;

}

/* TimeTable Begin */

/*Change Height of Container About Us  collides with the ABOUT US section */

.container { 

	top: 1870px;
}

.timetable_title {
    margin-top: 60px;

    }

.timetable_text {
    margin-top: 65px ;


}

.days_1 , .days_2 , .time_1 , .time_2 {  

	margin-top: 60px;

}

.line_timetable {
	top: 1950px;
    left: 25% ;
    height: 260px;
   
}

.call_us {

	 margin-top: 30px;

}

.gallery_subtext {
   
    margin-left: -107px
}

.gallery_items {
   
    justify-content: space-around;
    /* border: 2px yellow solid; */
    margin-left: -180px;
}

.reservation_sub_heading {
margin-left: -159px;

}

.reservation_heading_2 { 

	margin-left: -170px;
}

.button input {
	margin-left: -170px; 
}

.contact form input { 

	width: 400px;
    margin: 100px;
     margin-left: 40px;
   /* font-size: 20px;
    height: 70px; */

}

.contact_message textarea {
    width: 530px;
   /*  height: 445px;
    float: right;*/
    margin-right: 14px;
    margin-top: -532px;
    margin-top: -530px;
    /* border: none;
    font-family: cabin;
    font-size: 25px;
    padding-left: 10px; */
}

.button_contact input {
    
    
    margin-left: 400px;
    
}

}

/* Desktop Scrren Stying Ends */

/* Tablet Styling Begin */


@media only screen and (max-width: 768px) and (min-width:500px;)
{    /* Testimonial Begin */

	.testimonials_content p {
    margin-left: -13px;
    /* border: 2px red dashed; */
    width: 400px;
    font-size: 18px;
}
/* 
* {
	border: 1px red solid;
} */

.quotes {
    /* border: 2px yellow solid; */
   
    left: 400px;
}
/* Testimonial Styling Ends */

/* Reservation Styling Begin */

.reservation_heading img {
       width: 600px;
    margin-left: -19px;
}

.reservation_heading_2 {
   
    left: 240px;
}

.reservation_sub_heading {
    margin-left: -259px;
}

/* RESERVATION FORM BEGIN */


.reservation_forms form {
	margin-top: 150px;

}

.message textarea {
    width: 630px;
}

.button input {
    margin-left: -300px;
}


.reservation_forms form input { 
	width: 300px;

}
.message textarea {
    width: 600px;
    left: 100px;
}

/* RESERVATION FORM  ENDS */

/* Reservation Styling ENDS */

/* GALLERY STYLING BEGINS  */

.photos {
    width: 255px;
}

.gallery_subtext {
    margin-left: -207px;
}

.price {
	display:none ;
}

/* GALLERY STYLING ENDS  */

/* Header Styling Begins */
.nav_items {
    /* display: flex; */
    /* flex-direction: row; */
    /* list-style: none; */
    margin-left: 25px;
}

.header{

	width: 768px;
}

.brand {
    /* font-family: 'Pinyon Script', cursive; */
    font-size: 45px;
    /* color: #C0A757; */
    /* border: 1px yellow solid; */
    padding: 18px 21px;
}


.nav_change {
   
    font-size: 12px;
    padding: 5px 7px;
}

/* HEADER SECTION END SLIDESHOW SECTION BEGIN*/

/* OVERLAY TEXT */

.design {
    width: 35%;
    /* position: absolute; */
    top: 160px;
    left: 250px;
}

.caption {

	font-size: 50px;
	top: 48vh;
} 

.line {
	
	left: 162px;
	width: 450px;
	
}



.seperator span {
    /* position: absolute; */
    left: 200px;
    margin-top: 85px;
}
/* Header Styling Ends */

/* About Us Coding Begin*/
.about {
     height: 2000px; 
    top: 1020px;
    /* left: 0px; */
}

.about_us_title {
    left: 300px;
    top: 44px;
}

.section-title p , .tab_width {
	width: 90%;
}

.icons-about {
	left: 75px;
	top: 1291px;
}

.right_circle {

    left: 560px;
}

.right_arrow {
    /* top: 0px; */
    left: 578px;
}

.right_arrow:hover {
    /* top: 0px; */
    left: 578px;
}

.about_img_history {
	top: 600px;
	width: 450px;
	right: 155px;
}


.about_img_history_2 {
    top: 1159px;
    left: 43px;
    width: 90vw;
    height: 400px;
}


.p2 {
    
    top: 480px;
}


.text_second {
    top: 1600px;
}

.text_second_other_half {
    top: 1800px;
}


/* About Us Coding Ends*/

/* TIMETABLE SECTION BEGINS */

.container {
    top: 3020px;
}
/* TITLE OF TIMETABLE  */
.timetable_title {
	/* margin-top: 20px; */
	
    top: 3047px;
	left: 34%;
	margin-top: 0px;
}

.timetable_text {
    
    top: 3060px;
    left: 39%;
}

/* date and time  */

.days_1 ,.days_2,.time_1,.time_2 {
    position: absolute;
    top: 3120px;
    left: 24%;

}

.days_2,.time_2 {
	left: 60%;
}

.time_1,.time_2 {
	top: 3220px;

}

.line_timetable {
    top: 3127px;
    left: 19%;
    height: 330px;
}

.call_us {
    /* position: absolute; */
    top: 3420px;
}

/* TIMETABLESECTION ENDS */

/* MENU SECTION BEGINS */
.menu {
	top: 3490px;
}

.menu_items {
	margin-top: -158px;
}

.menu_items .prime_steaks ul li , .menu_items .deserts ul li ,.menu_items .drinks ul li {
	font-size: 38px;
}

.category {
	font-size: 45px;
	
}
 
/* MENU SECTION ENDS */

/* GALLERY SECTION BEGINS */
.gallery {
top: 4300px;
}

.gallery_subtext {
    margin-left: -257px;
}

.gallery_items  {
	margin-left:-242px ;
}

.reservation {
    
	top: 5572px;
}

/* GALLERY SECTION ENDS */


/* TESTIMONIAL CONTENT BEGIN */

.container_testimonials {
	top: 6972px;
}

.testimonials_heading h2 {
	top: 7030px;
}
.testimonials_content {
	top: 7100px;
}

.testimonials_content p {
	margin-left: -104px;
    /* border: 2px red dashed; */
    width: 650px;
    font-size: 23px;
}

.author {
	top: 85px;
    left: 0px;
}

.dots {
	padding-left: 190px;
    padding-top: 60px;
}

/* TESTIMONIAL CONTENT ENDS */

/* Contact begin  */
.contact {
	top: 7272px;
}

.contact_form hr {
	display: none;
}

.contact_subheading p {
	left: 30%;
}
.contact form input { 
width: 90%;
}

.contact_message textarea {
    width: 90%;
    margin-right: 35px;
    margin-top: -30px;
}

.button_contact input {
    margin-left: 300px;
	margin-top: 35px;
	font-size: 30px;
}
/*  Contact ends */

/* MAP SECTION BEGINS */

#map iframe {

    top: 8574px;
	height: 500px;
	width: 100vw;
}


/* MAP SECTION BEGINS */


/* FOOTER BEGIN  */

.footer {
	top: 9000px;

}

/* FOOTER ENDS  */

}


@media only screen and (max-width:500px) {

	.testimonials, .gallery , .menu,.reservation,.contact,.maps,.footer, .gallery{
		display: none;
	}
	/* HEADER AND LANDING PAGE SECTION STYLING BEGIN  */

	.header {
		width: 100%;
	}

	.brand {

		padding: 18px 20px;
	}

	.nav_display {
		opacity: 0;
		transition: all 0.5s;
	} 
	
	.icons {
		display: none;
	}
	.hamburger a
	{
		position: absolute;
		top: 25px;
		font-size: 35px;
		color: white;
		z-index: 4;
		display: inline-block;
        width: 94%;
	   text-align: right;
	   
	}

	.caption {
		font-size: 30px;
		letter-spacing: 3px;
	}

	
	.nav_items {
		/* display: flex; */
		/* flex-direction: column; */

		display: grid;
		grid-template-columns: repeat(1,100vw);
		position: absolute;
		left: 0px;
		top:85px;
		/* border:2px red solid; */
		
		
	}

	.nav_items li  {
		font-size: 20px;
		background-color:gray;
		border: 2px dimgray solid;
		padding: 10px 10px;
		width: 100%;
	}

	.nav_items li a {
		font-size: 20px;
	}

	#overlay {
	/* border: 2px yellow solid; */
    position: absolute;
	top: 118px;
	width:100%; 

	}

    .design { 
		width: 60%;
	   margin-left: 61px; 
	   
	} 


	 .seperator {

		position: absolute;
    /* left: 450px; */
    top: 436px;
    /* border: 2px red dashed; */
    /* height: 40%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100; */
	}

   .line {
	width: 100%;
	margin-left: 0px;
   }

   .seperator p {

	font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 18px;
	font-style: italic;
	margin-top:-50px;
   }

    /* HEADER AND LANDING PAGE STYLING ENDS */
   /* ABOUT US STYLING BEGIN */
	
	
	.section-title {
		/* border: red 2px solid; */
	    height: 200px;
	  }  

	.about {
		height: 2500px;
	}
   .about_us_title {
    width: 80%;
    position: static;
    /* top: 0px; */
    /* left: 520px; */ 
    margin: 30px;
}

   .content-title {
	/* border: 2px yellow solid; */
    height: 189px;
    position: absolute;
	top: 277px;
	width:100%;
	
   }
	

.history
{
		
	text-align: center;
	font-size: 55px;
	position: static;
}

.section-title p  {

	width: 100%;
	margin-top: -74px;
}

.text {

	position: absolute;
    top: 370px;
    left: 50px;
    /* margin-left: px; */
	text-align: center;
	width: 70%;
}

.p2 {
	position: absolute;
    top: 830px;
    left: 70px;
    width: 60%;
}


.about_img_history {
	position: absolute;
	top: 1100px;
	right: 48px;
	width: 300px;
}
.about-slideshow-history {

	border: 2px solid black;

}
.about_img_history_2 {

	position: absolute;
	top: 1430px;
	left: 16px;
	width: 300px;

}




.text_second {
	position: absolute;
    top: 1704px;
    /* right: 10px; */
	left: 76px;
	width: 235px;
}

  .text_second_other_half{
	position: absolute;
    top: 2173px;
    width: 211px;
	left: 76px; 
}



.icons-about {
    position: absolute;
    top: 1500px;
    font-size: 50px;
	left: 23px;
	
}

.left_arrow {
    font-size: 27px;
    position: absolute;
    left: 9px;
	top: 2px;
}

.left_arrow:hover {
	left: 7px;
}
.right_circle {
    position: absolute;
    top: 2px;
	left: 240px;
}

.right_arrow {
	position: absolute;
    top: 0px;
    left: 262px;
}

.right_arrow:hover {
	left:264px;
}

/*MENU SECTION ENDS */

/* TIMETABLE SECTION BEGINS */
.container {
    /* width: 100vw; */
    height: 470px;
    /* position: absolute; */
    top: 3314px;
}

 .timetable_content { 
width: 100%;
position: absolute;
top: 3350px;
height: 400px;
/* border: 2px solid blueviolet; */

 }


 .timetable_title {
	position: static;
    font-size: 30px;
	text-align: center;
 }


 .timetable_text {
	position: static;
	text-align: center;
 }

 .days {
	 display: flex;
	 margin-left: 10px;
	 
 } 

 .days_1 , .days_2,.time_1,.time_2 {
	 position: static;
 }



 .time {
	display: flex;
    justify-content: space-between;
    /* position: static; */
    /* border: 2px black solid; */
	width: 90%;
	margin-left: 10px;
 }

 .call_us {
	/* border: 2px solid yellow; */
    font-size: 16px;
    text-align: center;
    /* margin-bottom: -25px; */
	padding-top: 27px;
	position: static;

 }

 .line_timetable {
	 display: none;
 }


/* TIMETABLE SECTION ENDS */

/* MENU SECTION BEGIN */
.menu {
	display: block;
	top:3785px;
}

.menu_items {
	/* border: 2px red solid; */
    flex-direction: column;
}

.details , .price {
	display: none;
}

.prime_steaks {
	margin-top: 250px;
}

.menu_items .prime_steaks ul , .menu_items .drinks ul , .menu_items .deserts ul  {
	background:yellowgreen;
	/* width: 100%; */
}
.menu_items .prime_steaks ul li, .menu_items .drinks ul li, .menu_items .deserts ul li { 
	/* text-shadow: 1px 1px white; */
	color: black;
	

}

.prime_steaks ,.drinks, .deserts {

	width: 100%;
}

.category {
	text-align: center;
}
.prime_steaks:hover ,.drinks:hover, .deserts:hover {
	width: 50%;
	/* box-shadow: 2px 2px #0E1216; */
	transition: all 1s ease-in-out ;

}

.drinks ul li,  .deserts ul li , .prime_steaks ul li {
	text-align: center;
}

.menu_art {
	left: 31%;
}

/* MENU SECTION ENDS */

/* RESERVATION SECTION BEGINS */
/* .gallery {
	display: block;
	top: 4750px;
}

.gallery_lines {
	display: none;
}

.gallery_title {

} */
/* RESERVATION SECTION ENDS */
/* MEDIA QUERY CLOSED */
}
